---
import Download from "../Icons/Download.astro";
import NavButtons from "./NavButtons.astro";
import { getLangFromUrl, useTranslations } from '../../i18n/utils';
import { SignedOut, SignInButton, SignedIn, UserButton } from "@clerk/astro/components";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

function switchLangUrl() {
  const segments = Astro.url.pathname.split("/").filter(Boolean);

  if (segments.length > 0) {
    segments[0] = lang === "es" ? "en" : "es";
  }

  return "/" + segments.join("/") + "/";
}

const targetLang = lang === "es" ? "en" : "es";
const targetLabel = lang === "es" ? "English" : "Español";
const targetLabelFlag = lang === "es" ? "🇬🇧" : "🇪🇸";
---

<div class="mb-[55px]">
    <header class="bg-[#00000099] backdrop-blur-[8px] fixed w-full h-[55px] z-[1000] border-b-[0.5px] border-b-[#1c1c1c]">
        <div class="max-w-screen-2xl flex flex-wrap items-center justify-between mx-auto px-4 h-full">
            <div class="hamburger hidden gap-[5px] cursor-pointer mt-[5px] z-[1001] relative w-[30px] h-[25px] max-[1050px]:flex flex-col" id="hamburger">
                <span class="block w-[28px] h-[3px] bg-white rounded-[3px] transition-all duration-300 ease-in-out"></span>
                <span class="block w-[28px] h-[3px] bg-white rounded-[3px] transition-all duration-150 ease-in-out"></span>
                <span class="block w-[28px] h-[3px] bg-white rounded-[3px] transition-all duration-300 ease-in-out"></span>
            </div>
            
            <nav>
                <ul class="flex flex-row gap-5 max-[1050px]:hidden">
                    <NavButtons/>
                </ul>
            </nav>
    
            <a class="text-[1.5em] font-bold text-center justify-center absolute transition-colors duration-300 ease top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 max-[1150px]:hidden hover:text-[#ccc]" href=`/${lang}/`>BANNED STUDIOS</a>
        
            <div class="flex flex-row gap-2.5">
                <a href={switchLangUrl()} class="flex flex-row items-center gap-1.5 px-3.5 p-1 bg-[#333] rounded-[15px] transition-all duration-300 ease hover:bg-[#222222] max-[420px]:hidden">
                    {targetLabel}
                </a>

                <a href={switchLangUrl()} class="hidden flex-row items-center gap-1.5 px-3.5 p-1 bg-[#333] rounded-[15px] transition-all duration-300 ease hover:bg-[#222222] max-[420px]:flex">
                    {targetLabelFlag}
                </a>

                <a href=`/${lang}/launcher/` class="flex flex-row items-center gap-1.5 px-3.5 p-1 bg-[#333] rounded-[15px] transition-all duration-300 ease hover:bg-[#222222]">
                    <Download class="w-5 h-5"/>
                    Ban Game Launcher
                </a>

                <div class="flex max-[515px]:hidden">
                    <SignedOut>
                        <SignInButton mode="modal" class="flex flex-row items-center gap-1.5 px-3.5 p-1 bg-[#333] rounded-[15px] transition-all duration-300 ease hover:bg-[#222222] cursor-pointer">
                            Iniciar Sesión
                        </SignInButton> 
                    </SignedOut>
                    <SignedIn>
                        <UserButton/>
                    </SignedIn>
                </div>
            </div>
        </div>
    </header>
</div>

<div class="menu fixed top-[50px] left-0 w-full h-full bg-[#000000e6] p-5 z-[999]" id="menu">
    <ul class="flex flex-col gap-5">
        <NavButtons/>
        
        <li class="hidden max-[515px]:flex">
            <SignedOut>
                <SignInButton mode="modal" class="flex flex-row items-center gap-1.5 px-3.5 p-1 bg-[#333] rounded-[15px] transition-all duration-300 ease hover:bg-[#222222] cursor-pointer w-max">
                    Iniciar Sesión
                </SignInButton> 
            </SignedOut>
            <SignedIn>
                <UserButton/>
            </SignedIn>
        </li>
    </ul>
</div>

<style>
    .hamburger.open span:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.open span:nth-child(2) {
        opacity: 0;
        transition: opacity 0.1s ease-in-out;
    }

    .hamburger.open span:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .hamburger:hover span {
        background-color: #ccc;
    }

    .menu {
        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out;
    }

    .menu.open {
        transform: translateX(0);
    }
</style>

<script>
    init();

    document.addEventListener('astro:after-swap', () => {
        init();
    });

    function init () {
        const hamburger = document.getElementById("hamburger");
        const menu = document.getElementById("menu");

        if (hamburger == null || menu == null) return;

        hamburger.addEventListener("click", () => {
                menu.classList.toggle("open");
                hamburger.classList.toggle("open");
        });
        window.addEventListener("resize", () => {
            if (window.innerWidth >= 960) {
                menu.classList.remove("open");
                hamburger.classList.remove("open");
            }
        });
    }
</script>