---
import Layout from '../../layouts/Layout.astro';
import MainPage from '../../components/MainPage.astro';
import MiniTitle from '../../components/MiniTitle.astro';
import Next from '../../components/Icons/Next.astro';
import Prev from '../../components/Icons/Prev.astro';
import YTVideo from '../../components/YTVideo.astro';
import Hero from '../../components/Hero.astro';
import Down from '../../components/Icons/Down.astro';
import { Image } from 'astro:assets';
import { getLangFromUrl, useTranslations } from '../../i18n/utils';
import { uploadAllProjects } from '../../libs/firestore/content';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

if (!["es", "en"].includes(Astro.url.pathname.split("/")[1])) {
  return new Response(null, { status: 404 });
}

const { videos, timeline, proyectos } = await import(`../../data/${lang}/index.ts`);

const projectPictures = await Promise.all(
  proyectos.map(async (proyecto: { slug: any; }) => {
      const  { slug } = proyecto
      const image = await import(`../../assets/projects/${slug}.webp`);
      return { ...proyecto, avatar: image.default };
    })
);

// await uploadAllProjects();
---

<Layout title="Banned Studios" image="/pages/index.webp" desc={`${t('index.desc')}`}>
    <Hero class="h-[calc(100vh-130px)]"/>
    <MainPage class="text-center">
        <button id="down" class="bg-[#333] hover:bg-[#222222] transition-colors duration-300 ease text-white p-2 rounded-full cursor-pointer">
            <Down class="w-6 h-6" />
        </button>

        <section id="proyectos" class="flex flex-col justify-center items-center mt-10">
            <MiniTitle>{t('index.projectsTitle')}</MiniTitle>
    
            <div class="flex flex-wrap gap-[1.4rem] justify-center max-w-[1500px] px-5 mt-5">
                {
                    projectPictures.map(proyecto => {
                        const  { slug, title, type, date, avatar } = proyecto
    
                        return (
                            <article class="flex flex-col gap-3 justify-center text-left bg-[#111] text-white w-[300px] border-[1.5px] border-[rgba(42,42,42,0.500)] overflow-hidden relative z-[0] group">
                                <a href={`/${lang}/projects/${slug}`}>
                                    <Image src={avatar} alt={title} quality="high" class="w-full h-full" />
                                </a>
                                <Image src={avatar} alt={title} quality="high" class="absolute w-full h-full object-cover opacity-[0.10] blur-[2rem] z-[-2] transition-opacity duration-1000 group-hover:opacity-[0.20]" />
                                <div class=" relative z-[-1] px-3 pb-3">
                                <div class="text-[1.2rem] font-medium">{title}</div>
                                <p class="text-[0.9rem] text-[#7b7b7b] font-medium">{type} - {date}</p>
                                </div>
                            </article>
                        )
                    })
                }
            </div>
            <div class="flex flex-wrap flex-col items-center justify-center mt-5">
                <a href={`/${lang}/projects/`} class="flex items-center px-4.5 p-1 bg-[#333] rounded-[20px] text-white transition-all duration-300 text-[1.1rem] ease hover:bg-[#222222]">
                    <span>{t('index.projectsMore')}</span>
                </a>
            </div>
        </section>

        <section class="flex flex-col justify-center items-center mt-10">
            <MiniTitle>{t('index.videosTitle')}</MiniTitle>

            <div class="w-[calc(100vw-20px)] pr-2.5 pl-2.5 max-w-[800px] mt-5 mb-5 overflow-hidden">
                <div id="carousel" class="flex items-center space-x-4 overflow-x-auto scroll-smooth snap-x snap-mandatory">
                    {
                        videos.map((video: { src: any; title: any; }) => (
                            <div class="w-[370px] snap-start shrink-0 overflow-hidden">
                                <YTVideo url={video.src} title={video.title}/>
                            </div>
                        ))
                    }
                </div>
            </div>

            <div class="flex flex-row gap-2">
                <button id="prev" class="bg-[#333] hover:bg-[#222222] transition-colors duration-300 ease text-white p-2 rounded-full"><Prev class="w-6 h-6"/></button>
                <button id="next" class="bg-[#333] hover:bg-[#222222] transition-colors duration-300 ease text-white p-2 rounded-full"><Next class="w-6 h-6"/></button>
            </div>
        </section>

        <section class="flex flex-col justify-center items-center mt-10">
            <MiniTitle>{t('index.timelineTitle')}</MiniTitle>

            <div class="text-left max-w-[800px] px-5">
                <ol class="relative border-s border-gray-700">                
                    {
                        timeline.map((item: { date: any; title: any; link: any; desc: any; }) => (
                            <li class="ms-4 mt-5">
                                <div class="absolute w-3 h-3 rounded-full mt-1.5 -start-1.5 border border-gray-900 bg-gray-700"></div>
                                <time class="mb-1 text-sm font-normal leading-none text-gray-500">{item.date}</time>
                                <h3 class="text-lg font-semibold text-white">
                                    {item.link ? <a href={item.link} class="transition-colors duration-300 ease hover:text-[#ccc]">{item.title}</a> : item.title}
                                </h3>
                                <p class="text-base font-normal text-gray-400">{item.desc}</p>
                            </li>
                        ))
                    }
                </ol>
            </div>
        </section>
    </MainPage>
</Layout>

<style>
    #carousel::-webkit-scrollbar {
        display: none;
    }
    #carousel {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .animate-fade-up {
        opacity: 1;
    }

    @keyframes fadeUp {
        0% {
            opacity: 0;
            transform: translateY(20px);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .animate-fade-up {
        animation: fadeUp 1s ease-out forwards;
    }
</style>

<script>
    init();

    document.addEventListener('astro:after-swap', init);

    function init () {
        const carousel = document.getElementById('carousel');
        const prev = document.getElementById('prev');
        const next = document.getElementById('next');
        const down = document.getElementById('down');
        const section = document.getElementById('proyectos');

        if (next == null || prev == null || carousel == null || down == null || section == null) return;
        
        next.addEventListener('click', () => {
            carousel.scrollBy({ left: 300, behavior: 'smooth' });
        });
        
        prev.addEventListener('click', () => {
            carousel.scrollBy({ left: -300, behavior: 'smooth' });
        });

        down.addEventListener('click', () => {
            const yOffset = -60;
            const y = section.getBoundingClientRect().top + window.pageYOffset + yOffset;

            window.scrollTo({
                top: y,
                behavior: 'smooth'
            });
        });
    }
</script>